
.wrapper{
    cursor: pointer
}
    .title{
        text-align: start;
        color:  #282828;
        font-family: Montserrat;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; 
        padding: 40px 0;
        }
.category_container{
    display: flex;
 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
    grid-gap: 30px;
    max-width: 1360px;
    }




