
.wrapper{
    cursor: pointer
}
    .title h2{
        text-align: start;
        color:  #282828;
        font-family: Montserrat;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; 
        padding: 40px 0;
        }

    .category_container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1360px;

    }
.category_container{
    padding-top: 32px;
}

/* /-/---- */


@media screen and (min-width: 768px) and (max-width: 1000px){
    .category_container{
        gap: 20px;
        display: flex;
        /* justify-content: center; */
        padding-top: 30px;
    }
    /* .product_item {
        width: calc(25% - 24px); 
        margin-bottom: 30px; 
      } */
}
/* .product_item {
    width: calc(25% - 24px); 
    margin-bottom: 30px; 
  }
  
  @media screen and (max-width: 1000px) {
    .product_item {
      width: calc(25% - 24px); 
    }
  }
  
  @media screen and (max-width: 768px) {
    .product_item {
      width: calc(50% - 24px); 
    }
  }
  
  @media screen and (max-width: 480px) {
    .product_item {
      width: 100%; 
    }
  } */

  @media screen and (min-width: 480px) and (max-width: 767px){
    .title h2{
        font-size: 56px;
    }
    .wrapper{
        padding: 0 20px;
    }
    .category_container{
        gap: 20px;
        display: flex;
        width: 100%;
 
    }

  }

  @media screen and (max-width: 479px){
    .title h2{
        font-size: 40px;
    }
    .wrapper{
        padding: 0 20px;
    }
    .category_container{
        gap: 20px;
        display: flex;
        width: 100%;
 
    }
  }