/* 
.image{
    grid-area: img;
}
.title{
    grid-area: title;
}
.price{
    grid-area: price;
}
.counter__container{
    grid-area: countBtn;
}
.description__wrapper{
    grid-area: text;
}

.wrapper{
    padding-top: 40px;
    display: grid;
    grid-template-areas:
                'img title'
                'img price'
                'img countBtn'
                'img text';
    grid-template-rows: auto;
    gap: 32px;
    text-align: start;
    font-family: 'Montserrat' ;
}




.image{
    width: 780px;
    height: 572px;
    background-size: cover;
    object-fit: cover;
}




.discount_percent{

transform: translate(-41px, -41px);
width: 63px;
height:34px ;
background-color: #339933;
color: #ffff;
border-radius: 6px;
font-size: 20px;
display: flex;
align-items: center;
justify-content: center;
margin-left: 20px;
}

.title{
    font-size: 40px;
    font-weight: bold;

}
.price{
    font-size: 64px;
    font-weight: bold;
    position: relative;
}
.original_price{
    text-decoration: line-through;
    color: #8B8B8B;
    font-size: 40px;
    font-weight: medium;
}
.discount__wrapper{
    display: flex;
    gap: 32px;
    align-items: end;

}
.counter__container{
    display: flex;
    gap: 32px;
    max-height: 58px;
}
.count__wrapper{
    display: flex;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    text-align: center;
   
}
.count__wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.count__wrapper :first-child, .count__wrapper :last-child{
    border: 1px solid #DDDDDD;
    width: 58px;
    height: 58px;
    border-radius: 6px;
    font-size: 44px;
    color: #DDDDDD;
    cursor: pointer;

}
.count{
    width: 96px;
    height: 58px;
    font-weight: bold;
}

.button{
    background-color: #339933;
    color: #ffff;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 200ms linear;
    position: relative;
}
.button:hover{
    box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, 0.15), 0 .4em .5em -.4em rgba(0, 0, 0, 0.4)
}
.button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: inset 0 0 0 35px rgba(0,0,0,0.1);
    display: none;
}

.button.click:after {
    animation: animate-click 0.6s ease-out forwards;
    display: block;
}

@keyframes animate-click {
    0% {
        opacity: 1;
        transform: scale3d(0.4, 0.4, 1);
    }

    80% {
        box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
        opacity: 0.1;
    }

    100% {
        opacity: 0;
        box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
        transform: scale3d(1.2, 1.2, 1);

    }
}

.count_btn{
    background-color: #ffff;
    transition: transform 0.3s ease;
}
.count_btn:hover {
    transform: scale(1.15); 
  }
.description__wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.description__btn{
    border: none;
    background-color: #ffff;
    text-decoration: underline;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    font-size: 16px;
    font-style: 'Montserrat';
    font-weight: medium;
}

@media screen and (min-width: 768px) {

}


//-----------//


*/

.image{
    grid-area: img;
}
.title{
    grid-area: title;
}
.price{
    grid-area: price;
}
.counter__container{
    grid-area: countBtn;
}
.description__wrapper{
    grid-area: text;
}
.wrapper {
    padding-top: 40px;
    display: grid;
    grid-template-areas:
        'img title'
        'img price'
        'img countBtn'
        'img text';
    grid-template-columns: minmax(780px, 1fr);
    gap: 32px;
    text-align: start;
    font-family: 'Montserrat';
}
.discount_percent{

    transform: translate(-41px, -41px);
    width: 63px;
    height:34px ;
    background-color: #339933;
    color: #ffff;
    border-radius: 6px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    }
.image {
    grid-area: img;
    width: 100%;
    max-width: 780px;
    height: auto;
    object-fit: cover;
    max-height: 572px;

}

.title {
    grid-area: title;
    font-size: 40px;
    font-weight: bold;
}

.price {
    grid-area: price;
    font-size: 64px;
    font-weight: bold;
    position: relative;
}

.original_price {
    text-decoration: line-through;
    color: #8B8B8B;
    font-size: 40px;
    font-weight: medium;
}

.discount__wrapper {
    display: flex;
    gap: 32px;
    align-items: end;
}

.counter__container {
    grid-area: countBtn;
    display: flex;
    gap: 32px;
    max-height: 58px;
}

.count__wrapper {
    display: flex;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    text-align: center;
}

.count__wrapper div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.count__wrapper :first-child, 
.count__wrapper :last-child {
    border: 1px solid #DDDDDD;
    width: 58px;
    height: 58px;
    border-radius: 6px;
    font-size: 44px;
    color: #DDDDDD;
    cursor: pointer;
}

.count {
    width: 96px;
    height: 58px;
    font-weight: bold;
}

.button {
    background-color: #339933;
    color: #ffff;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 200ms linear;
    position: relative;
}

.button:hover {
    box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, 0.15), 0 .4em .5em -.4em rgba(0, 0, 0, 0.4);
}

.button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: inset 0 0 0 35px rgba(0, 0, 0, 0.1);
    display: none;
}

.button.click:after {
    animation: animate-click 0.6s ease-out forwards;
    display: block;
}

@keyframes animate-click {
    0% {
        opacity: 1;
        transform: scale3d(0.4, 0.4, 1);
    }

    80% {
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
        opacity: 0.1;
    }

    100% {
        opacity: 0;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

.count_btn {
    background-color: #ffff;
    transition: transform 0.3s ease;
}

.count_btn:hover {
    transform: scale(1.15);
}

.description__wrapper {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 200px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.description__btn {
    border: none;
    background-color: #ffff;
    text-decoration: underline;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    font-size: 16px;
    font-style: 'Montserrat';
    font-weight: medium;
}

@media screen and (min-width: 768px) and (max-width: 1250px){

    .wrapper {
        display: grid;
        grid-template-areas:
            'img title'
            'img price'
            'img countBtn'
            'img text';
        grid-template-columns: minmax(50%, 50%);
        grid-template-rows: minmax(1fr,1fr,1fr, 2fr);
      
    }
    .image {
        flex-wrap: wrap;
        display: flex;
       max-width: 470px;
        height: auto;

    }
    .price{
        font-size: 62px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px){
    .wrapper {
        display: grid;
        grid-template-areas:
            'img title'
            'img price'
            'img countBtn'
            'text text'

            ;
        grid-template-columns: minmax(50%, 50%);
        grid-template-rows: auto auto 3fr 2fr;
      gap: 20px;
    }
    .image {
        flex-wrap: wrap;
        display: flex;
       width: 354px;
        height: auto;

    }
    .counter__container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .count__wrapper{
        max-width: 200px;
    }
    .button{
        width: 100%;
        padding: 16px 32px;
    }
 
    .price{
        font-size: 48px;
    }
    .title{
        font-size: 32px;
    }
}

@media screen and (max-width: 479px){
    .wrapper {
        display: grid;
        grid-template-areas:
            'title'
            'img '
            'price'
            'countBtn'
            'text';
            grid-template-rows: auto auto auto 1.6fr 2fr;
            grid-template-columns: auto;
            gap: 20px;
    }
    .title{
        font-size: 28px;
    }
    .image {
        flex-wrap: wrap;
        display: flex;
       max-width: 320px;
        height: auto;
        margin: 0 auto;

    }
    .counter__container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .count__wrapper{
       max-width: 164px;
    }
    .button{
        max-width: 320px;
        padding: 16px 32px;
    }
    .price{
        font-size: 40px;
        margin: 0 auto;
    }
    .title{
        font-size: 28px;
    }
}