.wrapper{
    display: flex;
    gap: 32px;
    text-align: start;
    font-family: 'Montserrat' ;
}

.image{
    width: 780px;
    height: 572px;
    background-size: cover;
    object-fit: cover;
}
.price__container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.title{
    font-size: 40px;
    font-weight: bold;
    /* font-family: 'Montserrat' ; */
}
.price{
    font-size: 64px;
    font-weight: bold;
}
.counter__container{
    display: flex;
    gap: 32px;
}
.count__wrapper{
    display: flex;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    text-align: center;
   
}
.count__wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.count__wrapper :first-child, .count__wrapper :last-child{
    border: 1px solid #DDDDDD;
    width: 58px;
    height: 58px;
    border-radius: 6px;
    font-size: 44px;
    color: #DDDDDD;
    cursor: pointer;

}
.count{
    width: 96px;
    height: 58px;
    font-weight: bold;
}

/* button click */
.button{
    background-color: #339933;
    color: #ffff;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 200ms linear;
    position: relative;
}
.button:hover{
    box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, 0.15), 0 .4em .5em -.4em rgba(0, 0, 0, 0.4)
}
.button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: inset 0 0 0 35px rgba(0,0,0,0.1);
    display: none;
}

.button.click:after {
    animation: animate-click 0.6s ease-out forwards;
    display: block;
}

@keyframes animate-click {
    0% {
        opacity: 1;
        transform: scale3d(0.4, 0.4, 1);
    }

    80% {
        box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
        opacity: 0.1;
    }

    100% {
        opacity: 0;
        box-shadow: inset 0 0 0 2px rgba(0,0,0,0.1);
        transform: scale3d(1.2, 1.2, 1);

    }
}

    .count_btn{
    background-color: #ffff;
}
.description__wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}