.header_wrapper{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    height: 128px;
    /* padding: 0 40px; */
    cursor: pointer;
    margin: 0 auto;
    text-decoration: none;
    
}
.container__header{
    border-bottom: 1px solid #DDDDDD;
}
.header_logo{
    width: 70px;
    height: 70px;
}
.header_img_cart{
    width: 48px;
    height: 48px;
    position: relative;
}

.header_nav_menu ul{
    display: flex;
    width: 518px;
    height: 26px;
    gap:32px;
    list-style-type: none;

    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color:  #282828;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}
.item__count{
    width: 26px;
    height: 26px;
    border-radius:50%;
    background-color: #339933;
    color: #fff;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: absolute;
    top: 45px;
}
.header_nav_menu ul .list__item a:hover{
    color: #339933;
    border-bottom: 2px solid #339933;
}

