.header_wrapper{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    height: 128px;
    /* padding: 0 40px; */
    cursor: pointer;
    margin: 0 auto;
    text-decoration: none;
    
}
.container__header{
    border-bottom: 1px solid #DDDDDD;
}
.header_logo{
    width: 70px;
    height: 70px;
}
.header_img_cart{
    width: 48px;
    height: 48px;
    position: relative;
}

.header_nav_menu ul{
    display: flex;
    width: 518px;
    height: 26px;
    gap:32px;
    list-style-type: none;

    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color:  #282828;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}
.item__count{
    width: 26px;
    height: 26px;
    border-radius:50%;
    background-color: #339933;
    color: #fff;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: absolute;
    top: 45px;
}
.header_nav_menu ul .list__item a:hover{
    color: #339933;
    border-bottom: 2px solid #339933;
}

.mobile__btn{
    display: none;
}


@media screen and (min-width: 480px) and (max-width: 767px){
    .container__header,
    .header_wrapper{
        width: 100%;
        cursor: pointer;
    }
    .header_img_cart{
       margin-right: 50px;
       width: 32px;
       height: 32px;
    }
    .item__count{
        width: 17px;
        height: 17px;
        top: 20px;
        
    }
    .mobile__btn{
        display: block;
        position: absolute;
        right: 10px;
        top: 19px;
        cursor: pointer;
        z-index: 10;
    }
    .header_nav_menu{
        width: 100%;
        position: relative;
     
    }
    .header_nav_menu ul {
        width: 282px;
       height: 100vh;
       background-color:#FFFFFF;
       right:0;
       top: 0;
       bottom: 0;
       justify-content: start;
       padding: 100px 20px 0 32px;
       align-items: start;
    }
   
    .menu{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        transition:ease-in-out 2s;
        padding-right: 20px;
        z-index: 10;
    }
    .menu li{
        font-size: 24px;
    }
   
    .active{
        left: -300px;
    }
    .header_logo{
        width: 44px;
        height:44px;
    }
    .header_wrapper{
       height:68px ;
    }
}

@media screen and (min-width: 340px) and (max-width: 478px) {
    .container__header,
    .header_wrapper{
        width:100%;
    }
    .mobile__btn{
        display: block;
        position: absolute;
        right: 10px;
        top: 19px;
        /* cursor: pointer; */
        z-index: 10;
    }
    .header_img_cart{
        margin-right: 50px;
        width: 32px;
        height: 32px;
     }
     .item__count{
         width: 17px;
         height: 17px;
         top: 20px;
         
     }
    /* .header_nav_menu{
        width: 100%;
        position: relative;
     
    } */
    .header_nav_menu ul {
        width: 282px;
       height: 100vh;
       background-color:#FFFFFF;
       right:0;
       top: 0;
       bottom: 0;
       justify-content: start;
       padding: 100px 20px 0 32px;
       align-items: start;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        transition:ease-in-out 2s;
        padding-right: 20px;
        z-index: 10;
    }


    .menu li{
        font-size: 24px;
    }
    .active{
        left: -300px;
    }
    .header_logo{
        width: 44px;
        height:44px;
    }
    .header_wrapper{
       height:68px ;
    }



   .header_nav_menu{
    position: relative;
 
} 
    .header_nav_menu ul {
       height: 100%;
       width: 222px;
       /* right:120px; */
    }
    .active{
        left: -300px;
    }
}