.btn__media{
    display: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.title{
    text-align: start;
    color:  #282828;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 

}
.category_wrapper {
    transition: transform 0.3s ease;
  }
  
  .category_wrapper:hover {
    transform: scale(1.05); /* Масштабирование до 105% относительно исходного размера */
  }
.category_title{
transition: transform 4s  ease-in-out 1s;
}
.category_title:hover{
    color: #339933;
/* text-decoration: underline; */


}


.category_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
    grid-gap: 30px;
    max-width: 1360px;
    }
.category_img{
    width: 100%;
    height: 350px;
    border-radius: 12px;
    background:  lightgray 50% / cover no-repeat;
    object-fit: cover;
    }


@media  (max-width: 100px) {
    .category_container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      max-width: 1360px;
    }
   
  }
    .category_line_container{
        display: flex;
        align-items: center;
    }
    .categories_line{
        height: 1px;
        width: 832px;
        border: 1px solid rgb(229, 229, 229);
        margin: 0;
    }

.category_title{
    color:  #282828;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */
}
.category_wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.title_btn{
    display: flex;
    height: 70px;
    align-items: center;
    margin: 40px 0;
   justify-content: space-between;
   gap:32px;
}

@media screen and (min-width: 480px) and (max-width: 767px){
    .category_container{
        display: grid;
        grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));;
        grid-gap: 20px;
        max-width:100%;
    }
    .category_img{
        width: 100%;
        
    }
    .title{
        font-size: 48px;
    }
    .categories_line{
        width: 100%;
    }
    .category_line_container{
        width: 100%;
    }
    .title_btn{
        gap: 16px;
        width: 100%;
    }
    .wrapper{
        width: 80%;
    }
    
}
@media screen and (min-width: 340px) and (max-width: 478px) {
    .category_container{
        display: flex;
        flex-direction: column;
    }
    .category_img{
           height: 220px;
        width: 320px;
    }
  
    .wrapper{
        max-width:320px;

    }
    .category_line_container{
        display: none;
    }
    .title_btn{
        margin: 0;
    }
    .btn__media{
        display: block;
        margin-bottom:56px;
        margin-top: 24px;
    }
    .title{
        font-size: 40px;
    }
}