.wrapper{
    display: flex;
    gap: 32px;
    flex-direction: column;
    text-align: start;
    padding-top: 40px;
    font-family: 'Montserrat';
}
.wrapper h2{
    font-size: 64px;
    font-weight: bold;
    color: #282828;
}
.wrapper__content{
    display: flex;
    gap: 32px;

}
.container{
    display: flex;
    border: 1px solid #DDDDDD;
    max-height: 180px;
    border-radius: 12px;
    overflow: hidden;

}
.container__products{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 780px;
}
.container__image img{
    width: 200px;
    height: 180px;
    border-radius: 6px;
    
}
.container__image {
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    /* overflow: hidden; */
    box-sizing: border-box;
}
.form{
    background-color: #DDDDDD;
    width: 548px;
    height: 582px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    border-radius: 6px;
    justify-content: space-between;
}
.error__message{
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 14px;
    color: red;

}
.labels{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.labels input{
    width: 484px;
    padding: 16px 32px;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight:medium;
}
.button{
    width: 484px;
    border-radius: 6px;
    background: #393;
    padding: 16px 32px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight:bold;
    line-height: 130%;
    border: none;
    cursor: pointer;
}
.button:hover{
    background-color: black;
}
.count__container{
    display: flex;
    gap: 32px;
}
.count__wrapper{
    display: flex;
}
.original_price{
    text-decoration: line-through;
    color: #8B8B8B;
    font-size: 20px;
}
.discounted_price{
    font-size: 40px;
}
.normal_price{
    font-size: 40px;
    color: #282828;
}
.product__info{
    display: flex;
    flex-direction: column;
    padding: 36px;
    gap: 32px;
    width: 516px;
    position: relative;
}
.product__info h3{
    color: #282828 ;
    font-size: 20px;
}
.count_btn{
    width: 58px;
    height: 58px;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    font-size: 24px;
    cursor: pointer;
    color: #8B8B8B;
    transition: transform 0.3s ease;
}

.count_btn:hover {
    transform: scale(1.15); 
  }
.count{
    width:96px ;
    height: 58px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.count__wrapper{
    border: 1px solid #DDDDDD;
    border-radius: 6px;
}
.price{
    display: flex;
    gap: 16px;
    align-items: end;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.title h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.icons{
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    top: 36px;
    right: -1px;
}
.icons:hover{
   color:#339933;
}
.orders__details h3{
font-size: 40px;
font-weight: bold;
padding-bottom: 24px;
}
.total__price,
.items{
    font-size: 40px;
    color: #8B8B8B;
    font-weight: medium;
}
.price__counter{
font-size: 64px;
font-weight: bold;
color: #282828;
}
.total_price__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: end;

}
.category_line_container{
    display: flex;
    align-items: center;
}
.categories_line{
    height: 1px;
    width: 682px;
    border: 1px solid rgb(229, 229, 229);
    margin: 0;
}
.title_btn{
    display: flex;
    height: 70px;
    align-items: center;
    margin: 40px 0;
   justify-content: space-between;
   gap:32px;
}
.allProductBtn{
    width: 170px;
}

/* congratulations window */
.congratulations_overlay{
    position: fixed;
    top:-30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bab9b966;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.congratulations_window {
    background-color: green; /* Зеленый цвет для окна поздравления */
    color: white; /* Белый текст */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    position: relative;
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 24px;
    width: 548px;
    height: 268px;
    text-align: start;
  }
  .congratulations_window h3{
    font-size: 40px;
    color:#FFF
  }
  .close_btn{
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: transparent; 
    border: none;
    transition: transform 0.3s ease;
  }
  .congratulations_text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: bold;
  }
  .congratulations_icons{
    width: 44px;
    height: 44px;
     color: #FFF;
     cursor: pointer;
  }
  .congratulations_icons:hover{
    /* width: 48px;
    height: 48px; */
    transform: scale(1.1);
  }
  .continue__btn{
    background-color: #339933;
    color: white;
    font-size: 20px;
    padding: 16px 56px;
    width: 313px;
    height:58px ;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
  }
  .continue__wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 20px;
    font-weight: medium;
  }



  /* //--////// */

 

  @media screen and (min-width: 768px) and (max-width: 1000px) {
    /* .wrapper__content {
        display: flex;
        gap: 20px;
      }
      .title{
        max-width: 190px;
      }
   
      .container__image img {
        min-width: 200px;
         height: 100%; 
      }
    .icons{
        top: 10px;
        right: 10px;
    }
      .container {
        width: 100%;
        height: auto;
       min-height: 218px;
      }
    
      .container__products,
      .form {
        flex-basis: 50%;
        max-width: 50%;
        box-sizing: border-box;
      }
    
      .allProductBtn {
        width: 100%;
      }
      .product__info{
        min-width: 270px;
        padding: 12px;
        gap: 12px;
    }

      
      .count__container{
        flex-direction: column;
        gap: 12px;
      }
      .count__wrapper{
        max-width: 176px;
      } */
}




  @media screen and (max-width: 767px){
    .wrapper__content{
        flex-direction: column;
        gap: 20px;
    }
    .container__products{
        width: 100%;
        flex-wrap: nowrap;
    }
    .container{
        width: 100%;
        height: 100%;
    }
    .title h3{
        white-space: normal;
        font-size: 18px;
        font-weight: normal;
    }
  
    .wrapper h2{
        font-size: 48px;
    }
    .product__info{
        gap: 12px;
        padding: 20px;
    }
    .container__image{
        max-width: 229px;
        height: 100%;
    }
    .icons{
        top: 20px;
        right: 20px;
    }
    .form{
        width: 100%;
    }
   .labels label{
        width: 100%;
    }
    .labels input{
        width: 100%;
    }
    .button{
        width: 172px;
    }
.button__container{
    width: 100%;
    display: flex;
    align-items: start;
}
.title_btn{
    flex-wrap: wrap;
}
.categories_line{
    display: none;
}
.container__image img{
    object-fit: cover;
}
  }
  
  @media screen  and (max-width: 479px){
    .wrapper__content{
        flex-direction: column;
        gap: 20px;
    }
    .button{
        width: 100%;
    }
  .product__info{
    padding: 10px;
  }
    .container__image img{
        max-width: 116px;
        object-fit: cover;
    }
    .count__container{
        flex-direction: column;
        gap: 12px;
    }
    .container{
        width: 100%;
        min-height: 200px;
    }
    .container__products{
        width: 100%;
        flex-wrap: nowrap;
    }
    .wrapper h2{
        font-size: 40px;
    }
  
   
.price__counter{
    font-size: 40px;
}
.count__wrapper{
    max-width: 164px;
    max-height:47px ;
}
.count__wrapper button{
    max-width: 164px;
    max-height:47px ;
}
    .icons{
        top: 20px;
        right: 20px;
    }
    .form{
        width: 100%;
    }
   .labels label{
        width: 100%;
    }
    .labels input{
        width: 100%;
    }
    .title h3{
        font-size: 18px;
        font-weight: normal;
    }
    .container__image img{
        object-fit: cover;
        min-height: 200px;
    }
  }