.container{
    border-radius: 12px;
    background: linear-gradient(261.47deg, #0B710B 32.63%, #339933 98.96%);
    padding: 32px 32px 0 32px;
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
}
.h2{
    color:  #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    
}
.discount_wrapper{
    display: flex;
    gap: 32px;
    /* background-image: url('../../media/discount_img.png'); */
}
img{
    width: 748px;
    /* height: 360px; */
}
.form{
    display: flex;
    width: 516px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

}

.form > label > input{
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */

    border-radius: 6px;
    border: 1px solid  #FFF;
    width: 516px;
    padding: 16px;
    background-color: transparent;
    color: #FFF;

    transition: border 0.3s ease;


}

/* .form > input::placeholder {
    color: #fff; 
  } */
  input::placeholder {
    color: #fff; 
  }
  .form > input:hover,
  .form > input:focus{
    border-color: #FFF; 
}

.form > input:focus {
     outline: none; 
}
/* label{
    outline: none !important;
    background: transparent;
} */
/* .form__par{
    color: red;
    font-size: 12px;
    padding: 0;
    margin: 0;
    text-align: end;
} */
label {
    position: relative;
}
.error__message{
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 14px;
    color: red;
    margin-top: 4px;

}
.button{
    width: 516px;
    padding: 16px;

    color:  #282828;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */

    border-radius: 6px;
    background:  #FFF;
    border: none;
    cursor: pointer;
}
.button:hover{
    background-color: #000000;
    color: white;
}
.added,
.added:hover{
    background-color: white;
    color: #0B710B;
}

.form__end{
    color: #FFF;
    font-size: 16px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.background__image{
    display: none;
}

@media screen and (min-width: 480px) and (max-width: 767px){
  
    .form{
        width: 100%;
    }
    .discount_wrapper{
        display: flex;
        flex-direction: column;
        gap: 24px;
        min-width: 440px;
        
    }
    .button{
        width: 400px;
        font-size: 18px;
    }
    .h2{
        font-size: 48px;
    }
    .form>label>input{
        width: 400px;
    }
    .discount_wrapper img {
        display: none;
        width: 400px;
    }
    .form{
        gap: 8px;
       max-width: 400px;
    }
    .container{
        /* max-width: 740px; */
     align-items: center;
        margin: 0;
        padding: 24px 20px 0 20px;
    }
    .background__image{
        display: block;
    }
    .background__image img {
        width: 100%;
        object-fit: cover;
        height: 214px;

    }

}



@media screen and (min-width: 340px) and (max-width: 478px) {
    .form{
        width: 100%;
    }
    
    .container{
        align-items: center;
        margin: 0;
        padding: 24px 20px 0 20px;
    }
    .discount_wrapper{
        display: flex;
        flex-direction: column;
        gap: 24px;
        min-width: 280px;
        
    }
    .button{
        width: 280px;
        font-size: 18px;
    }
    .h2{
        font-size: 48px;
    }
    .form>label>input{
        width: 280px;
    }
    .discount_wrapper img {
        display: none;
        width: 400px;
    }
    .form{
        gap: 8px;
       max-width: 400px;
    }
    .container{
        /* max-width: 740px; */
     align-items: center;
        margin: 0;
        padding: 24px 20px 0 20px;
    }
    .background__image{
        display: block;
    }
    .background__image img {
        width: 100%;
        object-fit: cover;
        height: 232px;

    }
}