.allProducts_btn{
    /* display: inline-block; */
    display: inline-flex;
    color: #8B8B8B;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 126%; 

    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius:  6px;
    border: 1px solid  #DDD;
    cursor: pointer;
    height: 36px;
    transition: transform 0.6s ease;
}

.allProducts_btn-active{
    display: none;
}
  .allProducts_btn:hover {
    transform: scale(1.10); 
    background-color:#339933;
    color: white;
    font-weight: bold;
  }

@media (max-width: 480px){
    .allProducts_btn{
           display: inline-flex;
        width: 129px;
        height: 34px;
        padding: 0;
       margin: 0;
    }
  
    
}