.wrapper{
    cursor: pointer
}
.title{
    text-align: start;
    color:  #282828;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
    }
.category_container{
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
    grid-gap: 30px;
    max-width: 1360px;

    width: calc(25% - 24px);
    }
.category_img{
    width: 316px;
    height: 284px;
    background:  lightgray 50% / cover no-repeat;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    }
    .image_container{
        position: relative;
        display: inline-block;
        border-bottom: 1px solid #DDD;
    }
    .discount_label{
        position: absolute;
        top: 16px;
        right: 16px;
        background-color: #339933 ;
        color: white;
        padding: 4px 8px;
        justify-content: flex-end;
        align-items: flex-start;
        border-radius: 6px;
    }
    .category_line_container{
        display: flex;
        align-items: center;
    }
    .categories_line{
        height: 1px;
        width: 1093px;
        border: 1px solid rgb(229, 229, 229);
        margin: 0;
    }
.content_wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 32px 32px 32px;
    }
.category_title{
    color:  #282828;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */
    white-space: nowrap;  
    overflow: hidden;      
    text-overflow: ellipsis;   
    display: block;
    width:252px ;
    position: relative;
}

.category_title::before{
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category_wrapper{
    display: flex;
    flex-direction: column;
    height: 418px;
    border-radius: 12px;
    border: 1px solid #DDD;
    overflow: hidden;
    width: calc(25% - 24px);
}
.title_btn{
    display: flex;
    height: 70px;
    align-items: center;
    margin: 40px 0;
   justify-content: space-between;
   gap:32px;
}
.original_price{
    text-decoration: line-through;
    color:#8B8B8B;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
    text-align: end;

}
.normal_price{
    color:  #282828;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}
.discounted_price{
    color:  #282828;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
}
.price{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 16px;
}

/* для стилизации кнопки и управления ее видимостью при наведении */

.category_wrapper{
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.category_wrapper:hover .addToCartButton{
    opacity: 1;
    transition: opacity 0.3s ease;
    }

.addToCartButton {
    position: absolute;
    transform: translate(-50%, -120%);
    width: 90%;
    margin: 0 auto;
    z-index: 2;
    background-color: #339933;
    color: #ffff;
    border: none;
    border-radius: 6px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
}
  .addToCartButton:hover {
    background-color: #000000;    
  }
  .added:hover{
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}
/* 

  @media screen and (max-width: 1200px) {
    .content_wrapper{
      width: calc(33.33% - 24px); 
    }
  }
  
  @media screen and (max-width: 768px) {
    .content_wrapper {
      width: calc(50% - 24px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .content_wrapper {
      width: 100%; 
    }
  } */