.App {
  text-align: center;
  width: 1360px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
    text-align: center;
    width: 1360px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
input:focus {
  outline: 0px !important;  
  -webkit-appearance: none;  
  box-shadow: none !important  
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container{
    margin: 0 auto;
  width: 100%;
  }
}

@media screen and (min-width: 340px) and (max-width: 478px) {
  .container{
   width: 100%;
    margin: 0 auto;
  }
}