.App {
  text-align: center;
  width: 1360px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
    text-align: center;
    width: 1360px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
input:focus {
  outline: 0px !important;  
  -webkit-appearance: none;  
  box-shadow: none !important  
}

@media (max-width: 480px) {
  .container{
    margin: 0 auto;
   max-width: 440px;
  }
}

@media (max-width: 360px){
  .container{
    max-width:320px ;
    margin: 0 auto;
  }
}