

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500;600;700;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



/* scroll style */

/* Для Firefox */
body {
  scrollbar-color:#393 #FFFFFF; /* Зеленый цвет ползунка, белый цвет фона */
}

/* Для остальных браузеров (включая Chrome) */
body::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
}

body::-webkit-scrollbar-thumb {
  background-color: #393; /* Зеленый цвет ползунка */
}

body::-webkit-scrollbar-track {
  background-color: #FFFFFF; /* Белый цвет фона */
}